.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
  margin: 43px 0 140px;
}

.pagination button,
.navButton {
  border: 1px solid var(--Cool-Gray-200, #e5e7eb);
  background: #fff;
  stroke-width: 1px;
  stroke: var(--Cool-Gray-200);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  display: flex;
  padding: 12.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
}

.pagination button.active {
  background: #2f80ed;
  border-radius: 40px;
  border: none;
  color: var(--Secondary-100);
  font-weight: 600;
  line-height: 26px;
}

.arrowBtn {
  color: var(--Cool-Gray-600);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
