.container {
  margin: 26px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title {
  color: var(--Secondary-900);
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  white-space: nowrap;
}

.activeContainer {
  display: flex;
  gap: 12px;
}

.active {
  position: relative;
}

.searchIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 9px;
  left: 16px;
}

.inputSearch {
  background: var(--Secondary-100);
  border-radius: 12px;
  display: flex;
  width: 325px;
  height: 42px;
  padding: 9px 20px 9px 44px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.inputSearch::placeholder {
  color: var(--Secondary-400);
  line-height: 26px;
}

.addProduct {
  background: var(--Primary-100);
  color: var(--Cool-Gray-100);
  border-radius: 8px;
  display: flex;
  height: 42px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 26px;
}

.select {
  background: url('../../assets/icons/ic_arrow_down.png') no-repeat right 12px
    center;
  background-size: 24px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid var(--Cool-Gray-200);
  color: var(--Secondary-800);
  display: flex;
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.selectBtn {
  position: relative;
}

.optionList {
  text-align: center;
  margin-top: 8px;
  position: absolute;
}

.optionRecent,
.optionFavorite {
  color: var(--Secondary-800);
  background: #fff;
  width: 130px;
  height: 42px;
  flex-shrink: 0;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.optionRecent {
  border-radius: 12px 12px 0 0;
  border: 1px solid var(--Cool-Gray-200);
  display: flex;
}

.optionFavorite {
  border-radius: 0 0 12px 12px;
  border-bottom: 1px solid var(--Cool-Gray-200);
  border-right: 1px solid var(--Cool-Gray-200);
  border-left: 1px solid var(--Cool-Gray-200);
}

.itemList,
.bestItemList {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.itemList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}
