.itemCard {
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.productImg {
  width: 17.625rem;
  height: 17.625rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
}

.small {
  width: 13.812rem;
  height: 13.812rem;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  align-self: stretch;
}
.title,
.price {
  color: var(--Secondary-800);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.price {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.heart {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.heartIcon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.heartCount {
  color: var(--Secondary-600);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
}
