:root {
  --Primary-100: #3692ff;
  --Secondary-50: #f9fafb;
  --Secondary-200: #e5e7eb;
  --Secondary-400: #9ca3af;
  --Secondary-700: #374151;
  --Secondary-800: #1f2937;
  --Secondary-900: #111827;
  --Cool-Gray-100: #f3f4f6;
  --error-red: #f74747;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("../fonts/ROKAFSansMedium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
