@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);

  --Primary-100: #3692ff;

  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-600: #4b5563;
  --Secondary-500: #6b7280;
  --Secondary-400: #9ca3af;
  --Secondary-300: #e5e7eb;
  --Secondary-200: #e5e7eb;
  --Secondary-100: #f3f4f6;

  --Cool-Gray-900: #111827;
  --Cool-Gray-800: #1f2937;
  --Cool-Gray-500: #6b7280;
  --Cool-Gray-400: #9ca3af;
  --Cool-Gray-300: #e5e7eb;
  --Cool-Gray-200: #e5e7eb;
  --Cool-Gray-100: #f3f4f6;
  --Cool-Gray-50: #f9fafb;

  --error-red: #f74747;

  --White: #fff;
  --Background-Gray: #fcfcfc;
}

body {
  background: var(--background);
}
