.footer {
  background: var(--Secondary-900);
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  height: 160px;
  padding: 32px 200px;
  gap: 10px;
  flex-shrink: 0;
  white-space: nowrap;
}

.copyright {
  color: var(--Secondary-400);
  text-align: center;
}

.csLink {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  color: var(--Secondary-400);
}

.snsLinkList {
  display: flex;
  width: 116px;
  align-items: flex-start;
  gap: 12px;
}

.snsLink {
  width: 20px;
  height: 20px;
  padding: 0.853px 1px 1.147px 1px;
  flex-shrink: 0;
}
