body {
  min-height: 100vh;

  background: #fcfcfc;
}

h1,
p,
span,
button {
  white-space: nowrap;
}

/*1920px 미만*/
@media (max-width: 1919px) {
  .header {
    padding: 9px 200px;
  }
  .footer {
    padding: 32px 200px;
  }
}

/*1920px 이상*/
@media (min-width: 1920px) {
  .main {
    background: #cfe5ff;
  }
  .header {
    padding: 9px 400px;
  }
  .footer {
    padding: 32px 200px;
  }
}

/*----------header----------*/
.header {
  display: flex;
  width: 100%;
  /* max-width: 1920px; */
  height: 70px;
  /* padding: 9px 400px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-bottom: 1px solid #dfdfdf;
  background: #fff;

  position: fixed;
}

.header-contents,
.footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.header-logo {
  display: flex;
  width: 153px;
  height: 51px;
  padding: 5.017px 0 5.848px 0;
  justify-content: center;
  align-items: flex-end;
  gap: 8.592px;
}

.logo-img {
  width: 40px;
  height: 40.135px;
  flex-shrink: 0;
}

.logo-title {
  color: #3692ff;
  font-family: "ROKAF Sans";
  font-size: 25.633px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login-btn {
  display: flex;
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: var(--Primary-100, #3692ff);
  color: var(--Cool-Gray-100, #f3f4f6);

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

/*----------main----------*/
.main,
.bottom {
  width: 100%; /*width: 1920px;*/
  height: 540px;
  flex-shrink: 0;

  background: #cfe5ff;

  display: flex;
  justify-content: center;
  align-items: end;
}

.main-contents {
  display: inline-flex;
  align-items: center;
  gap: 7px;
}

.main-frame {
  display: flex;
  padding-bottom: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.main-text,
.section-text,
.section-text-s2,
.bottom-text {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.main-btn {
  display: flex;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 40px;
  background: var(--brand-blue, #3692ff);

  color: var(--Secondary-50, #f9fafb);
  text-align: center;

  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.main-img,
.bottom-img {
  display: flex;
  width: 746px;
  height: 340px;
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

.bottom-img {
  height: 397px;
}

/*----------section----------*/
.section {
  display: flex;
  width: 100%; /* width: 1920px; */
  padding: 138px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: #fff;
}

.section-contents {
  display: flex;
  width: 988px;
  justify-content: center;
  align-items: center;
  gap: 64px;

  background: #fcfcfc;
}

.section-img {
  width: 588px;
  height: 444px;
  flex-shrink: 0;
}

.section-text-frame,
.section-text-frame-s2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.section-text-frame-s2 {
  align-items: flex-end;
}

.section-mini-title,
.section-mini-title-s2 {
  color: var(--Primary-100, #3692ff);

  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.section-text,
.section-text-s2 {
  letter-spacing: 0.8px;
}
.section-text-s2 {
  text-align: right;
}

.section-paragraph,
.section-paragraph-s2 {
  color: var(--Secondary-700, #374151);

  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;

  margin-top: 12px;
}
.section-paragraph-s2 {
  text-align: right;
}

/*----------bottom----------*/
.bottom {
  margin-top: 276px;
}

.bottom-contents {
  display: inline-flex;
  align-items: center;
  gap: 69px;
}

/*----------footer----------*/
.footer {
  display: flex;
  width: 100%; /* width: 1920px; */
  height: 160px;
  /* padding: 32px 200px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;

  background: var(--Secondary-900, #111827);
}

.footer-text,
.footer-text-center {
  color: var(--Secondary-400, #9ca3af);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-text-center {
  color: var(--Secondary-200, #e5e7eb);
}

.footer-text-center-frame {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.icon-group {
  display: flex;
  width: 116px;
  align-items: flex-start;
  gap: 12px;
}

.icon-link {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 0.853px 1px 1.147px 1px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon-img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
